# This is Day 2 of My Programming in total 9 Programming class

In [1]:
print("Good evening")

Good evening

In [2]:
print(Sai Anna)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (4047103383.py, line 1)

In [3]:
#if we dont give double quotes we will get the syntax error

In [4]:
a=10
b=20
c=a+b
print("Addition of a=",a,"and b=",b,"is c=",c )

Addition of a= 10 and b= 20 is c= 30

In [5]:
#But you can see right this is the old method and we dont even like this so we will try new methods
print("Addition of a={}and b={}isc={}".format(a,b,c))

Addition of a=10and b=20isc=30

In [7]:
#variable types
a=10
b=1.23
c=True
d=5+8j
print(a)
print(type(a))
print(b)
print(type(b))
print(c)
print(type(c))
print(d)
print(type(d))

10
<class 'int'>
1.23
<class 'float'>
True
<class 'bool'>
(5+8j)
<class 'complex'>

## KEYWORDS

In [10]:
help()

Welcome to Python 3.10's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the internet at https://docs.python.org/3.10/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> keywords

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

help>

You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

#  Airthmetic operators

In [11]:
print(5+5)
print(5-5)
print(5*5)
print(5/5)
print(4//2)
print(4%2)
print(4**2)

10
0
25
1.0
2
0
16

# Relational Operators

In [12]:
print(2<3)
print(8>5)
print(2<=3)
print(8>=5)
print(5==5)
print(9!=5)

True
True
True
True
True
True

# Logical operators

In [13]:
S=True
A=False
print(S and A)
print(S or A)
print(not S)
print(not A)

False
True
False
True

In [14]:
5=5
#For comparision we have to give Double Equals to else we will get an error (Syntax Error)

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (1319666746.py, line 1)

# Membership operators

In [15]:
'c'in "chaaran"

True

In [16]:
'd' in "Daarshanam"
#because python is case sensitive for python the D and d are different

False

In [17]:
"f" not in "Mumbai"

True

In [19]:
1 in 111
#we can do in and not in only for Strings mostly

TypeError: argument of type 'int' is not iterable

# Conditional Statements

In [20]:
#if else loops
x=5
if x>5:
    print("X is a positive Number")
else:
    print("X is a number other than 5")

X is a number other than 5

In [21]:
#WAP to know whether Given number is even or odd
x=int(input("Enter a number"))
if x%2==0:
    print("Given Number is even")
else:
    print("Not an Even Number")

Enter a number58
Given Number is even

In [22]:
#Same Code with other Logic
x=int(input("Enter a given number"))
if x%2==1:
    print(x,"is a odd number")
else:
    print(x,"is an even number")

Enter a given number785
785 is a odd number

In [2]:
#if elif and else
x=input("Enter your Choice")
if x=="Sunny":
    print("I will go to the pool")
elif x=="Rainy":
    print("I will go to home back")
else:
    print("I will go to park")

Enter your Choice"sunnY"
I will go to park

# Nested if --if inside an if

#SYNTAX FOR NESTED IF
if cond 1:
    if cond 3:
        do this
    else:
        do this
elif cond 2:
    if cond 4:
        do this
     else:
         do this
else:
    do this

# Loops

In [11]:
a=[10,20,320,40]
for i in a:
    print(i,end=' ')

10 20 320 40

In [13]:
for i in range(1,50,10):
    print(i,end=" ")

1 11 21 31 41

In [14]:
a=list(range(100))
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [15]:
a=tuple(range(50))
print(a)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49)

In [17]:
a=set(range(20))
print(a)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}

#for Loop will be in the range(0 to n-1)
The only concern in the range should be start should be smaller than End one

In [21]:
a=range(5)
for i in a:
    print(i)

0
1
2
3
4

# while Loop

# Syntax
initalization
while condition:
    do this
    do this
    increment/decrement

In [22]:
i=1
while i<=6:
    print(i)
    i=i+1

1
2
3
4
5
6

In [29]:
a="sai charan Reddy"
i=0
while i<len(a):
    print(a[i],end=" ")
    i=i+1

s a i   c h a r a n   R e d d y

# break statement

(Break statement is used to terminate loops in python(in python we have only two loops for and while)

In [31]:
#Example
for i in range(1,101):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [33]:
for i in range(1,100):
    if i%2==0:
        print(i,end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

In [35]:
for i in range(1,100):
    if i%2==0:
        if i==68:
            break
        else:
            print(i,end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66

In [36]:
# examle 2
for i in range(1,11):
    if i%2==0:
        if i==8:
            break
        else:
            print(i,end=" ")

2 4 6

# continue

In [40]:
for i in range(1,11):
    if i %2==0:
        if i==8:
            continue
        else:
            print(i,end=' ')

2 4 6 10

continue will only stop that current itteration