# This is my third class of 9 Days python programming of Data science

# Functions
>Built in Functions
>User Defined Functions

In [2]:
#Functions are the helping hands .Its like our servants 
print('sai')
print(int(3258.325))
float('12.5')

sai
3258

12.5

In [3]:
#we can covert int to float and but we cant convert a string to integer

In [4]:
import math
math.sin(90)

0.8939966636005579

In [5]:
import math as m
m.atan(45)

1.5485777614681775

In [6]:
m.factorial(7)

5040

In [7]:
#Math module operations
import math as m
print(m.cos(90))
print(m.factorial(5))
print(m.ceil(5.9999))
print(m.floor(5.9999))

-0.4480736161291701
120
6
5

In [8]:
#user defined Functions are the own functions created by user

#Syntax
def function_name():
    do this
    do this 
function_name()

In [9]:
def sai():
    print("hello world")
    print('Anna Nmaasthe')
sai()

hello world
Anna Nmaasthe

In [10]:
sai()

hello world
Anna Nmaasthe

In [11]:
sai()

hello world
Anna Nmaasthe

In [12]:
for i in range(5):
    print(sai)

<function sai at 0x0000022D1ECD89D0>
<function sai at 0x0000022D1ECD89D0>
<function sai at 0x0000022D1ECD89D0>
<function sai at 0x0000022D1ECD89D0>
<function sai at 0x0000022D1ECD89D0>

In [13]:
for i in range(5):
    sai()

hello world
Anna Nmaasthe
hello world
Anna Nmaasthe
hello world
Anna Nmaasthe
hello world
Anna Nmaasthe
hello world
Anna Nmaasthe

In [14]:
def greet(n):
    print("Hello",n)
greet("Charan")

Hello Charan

In [15]:
greet("Sai")

Hello Sai

In [16]:
sai()

hello world
Anna Nmaasthe

In [17]:
a=['sai','leela','ramu']
for i in a:
    greet(i)

Hello sai
Hello leela
Hello ramu

In [19]:
#Write a program to create a function 
def charan():
    print("Hi charan")
    print("Charan Study well")
    print("Charan ignore Negativity")
charan()

Hi charan
Charan Study well
Charan ignore Negativity

In [21]:
def Ali():
    print("Annna Namasthe")
    print("Anna bye")
Ali()

Annna Namasthe
Anna bye

In [22]:
j=['sai','bhavani','leela','pinky','bunny']
for i in j:
    print(i)

sai
bhavani
leela
pinky
bunny

In [23]:
for i in range(5):
    print(i)

0
1
2
3
4

In [24]:
def square(n):
    ans=n*n
    print(ans)
square(5)

25

In [25]:
square(63)

3969

In [26]:
square(30)

900

In [27]:
square(15)

225

In [28]:
def invite(n):
    print("welcome",n)
invite("charan")

welcome charan

In [30]:
x=['sai','leela','bhavani']
for i in x:
    invite(i)

welcome sai
welcome leela
welcome bhavani

In [31]:
def harish():
    print("sai")
    print("charan")
    print("reddy")
harish()

sai
charan
reddy

In [35]:
def wish(n):
    print("Wishes",n)
wish("charan")

Wishes charan

In [36]:
d=['oil','rice','milk']
for i in d:
    wish(i)

Wishes oil
Wishes rice
Wishes milk