In [1]:
#List Functions

In [2]:
a=[10,20,30,40]
print(type(a))

<class 'list'>

In [4]:
a=[10,20,(30,40),[50,60]]
print(a[2][1])

40

#From the Above we can infer that list can hold a list inside and a tuple can also be holded

In [5]:
a=[1,2,3,4,5]
a.remove(2)
print(a)

[1, 3, 4, 5]

In [6]:
a

[1, 3, 4, 5]

In [7]:
a.pop()

5

In [8]:
a

[1, 3, 4]

In [9]:
a.pop()

4

In [10]:
a

[1, 3]

In [11]:
a.pop()

3

In [12]:
a

[1]

In [13]:
a.pop()

1

In [14]:
a

[]

In [15]:
a=[2,3,4,5]
del a[0]
a

[3, 4, 5]

# we can remove the items in a list by pop , delete and remove

In [16]:
a

[3, 4, 5]

In [17]:
a.clear()

In [18]:
a

[]

In [19]:
#a.clear() is used to create an empty set or clear all the exisisting items in a list

In [21]:
a=[1,2,3,4,5,6,7,8,9,7,22,33,41,4,5,6,45]
print(len(a))
print(max(a))
print(min(a))
print(sum(a))
print(sum(a)/len(a))

17
45
1
208
12.235294117647058

In [22]:
a=list(range(10))
b=list(range(10,15))
print(a)
print(b)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[10, 11, 12, 13, 14]

In [24]:
a.extend(b)
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 10, 11, 12, 13, 14]

In [25]:
b.append(a)
print(b)

[10, 11, 12, 13, 14, [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 10, 11, 12, 13, 14]]

In [26]:
c=list(range(10))
d=list(range(11,15))
for i in d:
    if i %2==1:
        c.append(i)

In [27]:
print(c)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 13]

# enumerate Function

In [ ]:
#syntax:
a=[]
for i,e in enumerate(a):
    print(i,e)

In [30]:
a=['sai','sky','rain','money']
for i,e in enumerate(a):
    print(i,e)

0 sai
1 sky
2 rain
3 money

In [31]:
f=[10,20,30,40,50,60,70,80,90]
f.insert(0,1)
print(f)

[1, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [32]:
r=['sai','charan','reddy']
r.insert(0,"King")
print(r)

['King', 'sai', 'charan', 'reddy']

In [33]:
f.sort()

In [34]:
print(f)

[1, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [35]:
w=[4,5,8,7,5,6,8,78,7,8,45,456]
w.sort()
print(w)

[4, 5, 5, 6, 7, 7, 8, 8, 8, 45, 78, 456]

In [36]:
w.reverse()
print(w)

[456, 78, 45, 8, 8, 8, 7, 7, 6, 5, 5, 4]

In [37]:
J=[1,1,1,1,1]
J.count(1)

5

# Tuples

In [38]:
#Tuples are Immutable in nature we can not change Tuple

In [39]:
t=(1,2,3,4,5)
print(t)
print(len(t))
print(max(t))
print(min(t))
print(sum(t))
print(sum(t)/len(t))

(1, 2, 3, 4, 5)
5
5
1
15
3.0

In [40]:
#We dont have append insert delete extend in Tuple

In [41]:
t.append(4)

AttributeError: 'tuple' object has no attribute 'append'

In [42]:
t.delete(3)

AttributeError: 'tuple' object has no attribute 'delete'

In [43]:
t.insert(5)

AttributeError: 'tuple' object has no attribute 'insert'

In [44]:
t(2)

TypeError: 'tuple' object is not callable

In [45]:
u=()
print(type(u))

<class 'tuple'>

In [46]:
y=(1,2,3,45)
print(y(2))

TypeError: 'tuple' object is not callable

In [47]:
o=(100)
print(type(o))

<class 'int'>

In [48]:
p=(45,)
print(type(p))

<class 'tuple'>

In [49]:
#there are few particular applications for Tuples like Aadhar card , pincode , Latitude and Longitude, etc

# Sets

In [50]:
a={100,40,'sai',"charan","five"}
print(a)
print(type(a))

{'charan', 'five', 100, 40, 'sai'}
<class 'set'>

In [51]:
#set will hold only unique values and we cant do indexing in Sets

In [52]:
s={1,2,3,4}
for i in  s:
    print(i)

1
2
3
4

In [53]:
2 in s

True

In [54]:
s.add(5)

In [55]:
print(s)

{1, 2, 3, 4, 5}

In [56]:
len(s)

5

s.remove(5)

In [57]:
s.remove(5)
print((s))

{1, 2, 3, 4}

In [1]:
a={1,2,3,4,5}
b={6,7,8,9}
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [2]:
b

{6, 7, 8, 9}

In [3]:
a

{1, 2, 3, 4, 5}

In [4]:
b.union(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [9]:
#In  set to add elements we have to use "add"

In [8]:
a.add(6)
a

{1, 2, 3, 4, 5, 6}

In [10]:
a.intersection(b)

{6}

# Dictionary

They are caleed associative arrays {key value pairs}.Key and value together holding a pair called an item

In [11]:
d={100:12.3}
print(d)
print(type(d))

{100: 12.3}
<class 'dict'>

In [12]:
d[100]

12.3

In [13]:
d[12.3]

KeyError: 12.3

In [14]:
del d[100]

In [15]:
d

{}

In [16]:
d={1:10,2:20,3:30,4:40}
print(d.keys())
print(list(d.keys()))
print(d.values())

dict_keys([1, 2, 3, 4])
[1, 2, 3, 4]
dict_values([10, 20, 30, 40])

In [18]:
e={5:50}
d.update(e)

In [19]:
print(d)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50}

# List comprehensions

In [20]:
#WAP TO GENERATE NUMBERS FROM 1 TO 20 & STORE IT IN A LIST
a=[]
for i in range(1,21):
    print(i)
    a.append(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [21]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [24]:
a=[]
for i in range(1,21):
    if i%2==0:
        a.append(i)
        #print(i)
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [32]:
[i for i in range(1,21) if(i%2==1)]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [34]:
[i+50 for i in range(1,21) if(i%2!=0)]

[51, 53, 55, 57, 59, 61, 63, 65, 67, 69]

In [35]:
[i for i in range(1,20)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [38]:
w=['sai','sahoo']
s=[i.upper() for i in w]
print(s)

['SAI', 'SAHOO']

In [39]:
#wRITE A PROGRAM TO PRINT NUMBERS FROM 1 TO 10 I=USING LC
#WRITE TO PRINT ONLY EVEN IN IT
#WRITE TO PRINT ONLY ODD
#WRITE A PRORGRAM TO CONVERT UPPER CASE GIVEN LOWER CASE

In [40]:
# FIRST 
[i for i in range(1,21)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [41]:
#second
[i for i in range(1,21) if i%2==0]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [43]:
#third
[i for i in range(1,21) if i%2==1]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [45]:
u=['sachin','dravid']
g=[i.upper() for i in u]
print(g)

['SACHIN', 'DRAVID']

In [46]:
h=[i.lower() for i in g]
print(h)

['sachin', 'dravid']