Pandas is important library for data manipulation,.wrangling & analysis
>Series:1D
>Dataframes:2D

# series

In [6]:
#syntax:
#pd.Series(data,index)
#here data and index should match

In [1]:
import pandas as pd
pd.__version__

'1.5.3'

In [3]:
s=pd.Series([10,12,14],['a','b','c'])
print(s)

a    10
b    12
c    14
dtype: int64

In [5]:
s=pd.Series([11,12,1,15,12],['a','b','c','d','e'])
print(s)

a    11
b    12
c     1
d    15
e    12
dtype: int64

In [10]:
population={
    'california':2421432,
    'Texas':3421463,
    'India':7632125,
    'Noida':8795647
}
a=pd.Series(population)
print(a)
print(type(a))
print(a.shape)

california    2421432
Texas         3421463
India         7632125
Noida         8795647
dtype: int64
<class 'pandas.core.series.Series'>
(4,)

In [15]:
a=pd.DataFrame(population,columns=['City'])
print(a)

Empty DataFrame
Columns: [City]
Index: []

In [17]:
import pandas as pd
import numpy as np
pd.DataFrame(np.random.randn(3,2),columns=['sai','charan'],index=['a','b','c'])

        sai    charan
a  1.240748  1.140187
b  1.982755 -0.858009
c -1.852509 -0.879223

In [18]:
import pandas as pd
import numpy as np
pd.DataFrame(np.random.randn(4,4),columns=["Leela","Bhavani","Charan","manoj"],index=[1,2,3,4])

      Leela   Bhavani    Charan     manoj
1 -0.533744 -1.156408  0.367161 -1.642596
2  0.545776 -1.034867 -0.214795  1.230335
3  0.262315 -1.075185 -0.155131 -1.719469
4  0.030131  1.320562 -1.464554  0.671366

#indexers
loc& iloc(loc is what we given as index and Iloc is already standard)

In [22]:
data=pd.Series(['a','b','c'],index=[1,3,5])
print(data[1])
data[1:3]
data.iloc[2]
data.iloc[1:3]

3    b
5    c
dtype: object