In [1]:
print("print('hello')")

print('hello')

In [2]:
print("sahoo")

sahoo

In [3]:
print(5==5)

True

In [4]:
4>=2

True

In [5]:
'd' in "deer"

True

In [6]:
"c" not in "sai"

True

In [7]:
89*45

4005

In [8]:
print(4//2)

2

In [9]:
print(4/2)

2.0

In [10]:
print(4%2)

0

In [11]:
print(8-6)

2

In [12]:
a=True
b=False 
a and b

False

In [13]:
a or b

True

In [35]:
x=int(input("Emter the number"))
if x==35:
    print("x equals to 35")
elif x<35 and x>32:
    print("x lies between 33 and 34")
else:
    print("Anna naku sambandham ledhu")

Emter the number58
Anna naku sambandham ledhu

In [36]:
def charan():
    print("sai charan")
    print("BE ALONE")
    print("be you")
charan()

sai charan
BE ALONE
be you

In [37]:
def greet(n):
    print("welcome",n)
greet("charan")

welcome charan

In [40]:
a=["sai",'charan','Reddy']
for i in a:
    print(greet(i))

welcome sai
None
welcome charan
None
welcome Reddy
None

In [42]:
for i in a:
    print(greet(i))

welcome sai
None
welcome charan
None
welcome Reddy
None

In [47]:
def square(n):
    ans=n*n
    print(ans)
square(25)

625

In [48]:
square(36)

1296

In [49]:
square(786)

617796

In [50]:
import math as m
m.sqrt(81)

9.0